<configuration>
									<appSettings>
                                        <add key="ServiceUrl" value="http://1CSRV/utppsu/ws/ws1.1cws" />
                                        <add key="CodeShop" value="000000057" />                                        
                                        <add key="TimeOut" value="30" />                                        
									</appSettings>
								</configuration>